<div class="width50percent">
    
    <table dir="rtl">
        <tr>
            <th> M-Code </th>
            <th> תת טכנולוגיה </th>
            <th> טכנולוגיה </th>
            <th>עריכה </th>
        </tr>
        <tr *ngFor="let subTechnology of subTechnologies">
            <!-- <td>{{subTechnology.Technology?.TechnologyName}}</td> -->
            <td>
                <a class="navToChildren" mat-button [routerLink]="'/tool_definitions/tool_top_level_definition/' + subTechnology.SubTechnologyID " >
                    {{subTechnology.Technology?.MCode + "." + subTechnology.MCode}}
                </a>
            </td>
            <td>{{subTechnology.Technology?.TechnologyName}}</td>
            <td>{{subTechnology.SubTechnologyName}}</td>
            <td>
                <button mat-mini-fab color="danger" (click)="changeToolId(subTechnology.SubTechnologyID)">
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
            </td>
        </tr>
    </table>

    <app-sub-technology-form [subTechnologies]="subTechnologies" [techID]="techID" [toolId]="toolId"></app-sub-technology-form>

</div>