<form [formGroup]="technologyForm" (ngSubmit)="submitForm()">
    <h1>
        <mat-icon>{{toolId == null ? "add" : "edit"}}</mat-icon>
         טכנולוגיה
    </h1>

    <div >

        <button
        class="close" 
            mat-mini-fab color="warn" 
            (click)="deleteTechnology()"
            *ngIf="toolId != null"
            type="button"
        >
            <mat-icon>  
                delete
            </mat-icon>
        </button>
    </div>

    <mat-form-field>
        <mat-label> שם טכנולוגיה </mat-label>
        <input matInput type="text" placeholder="שם טכנולוגיה" formControlName="TechnologyName">
        <mat-error *ngIf="technologyForm.get('TechnologyName').hasError('required')">
            יש להזין שם טכנולוגיה
        </mat-error>
        <mat-error *ngIf="technologyForm.get('TechnologyName').hasError('minlength')">
            יש להזין לפחות 2 תווים
        </mat-error>
        <mat-error *ngIf="technologyForm.get('TechnologyName').hasError('maxlength')">
            יש להזין עד 50 תווים
        </mat-error>
        <mat-error *ngIf="technologyForm.get('TechnologyName').hasError('pattern')">
            יש להזין רק אותיות בעברית או אנגלית
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label> MCode </mat-label>
        <input matInput type="text" placeholder="MCode" formControlName="MCode">
        <mat-error *ngIf="technologyForm.get('MCode').hasError('required')">
            יש להזין m-code
        </mat-error>
        <mat-error *ngIf="technologyForm.get('MCode').hasError('min')">
            יש להזין מספר חיובי
        </mat-error>
    </mat-form-field>
    
    <button 
        type="submit" 
        mat-raised-button 
        color="primary"  
        [disabled]="!technologyForm.valid"
    >
        שמור
    </button>

    <button
        (click)="resetForm()"
        type="reset"
        mat-raised-button
        color="warn"
    >
        reset
    </button>
    <button 
        (click)="toolId = null;" 
        type="reset" 
        color="accent"
        mat-raised-button
        *ngIf="toolId != null"
    > ביטול עריכה </button>
</form>