<div class="width50percent">
    <table>
        <tr>
            <th>
                MCode
            </th>
            <th> תיאור מילולי לתעודה</th>
            <th> קובץ וורד </th>
            <th> תיאור </th>
            <th>
                שם כלי
            </th>
            <th>
                תת טכנולוגיה
            </th>
            <th>
                טכנולוגיה
            </th>
            <th>
                רזולוציות
            </th>
            <th>
                עריכה
            </th>
        </tr>
        <tr *ngFor="let tool of toolTopLevelDefinitions">
            <td>
                <a class="navToChildren" mat-button [routerLink]="'/tool_definitions/tool_measurement_level_definition/' + tool.ToolTopLevelDefinitionID" >
                    {{tool.SubTechnology?.Technology?.MCode + "." + tool.SubTechnology?.MCode + "." + tool.IsoProcedure?.MCode}}
                </a>
            </td>
            <td>
                {{tool.IsoProcedure?.CertificateText}}
            </td>
            <td>
                <!-- {{tool.IsoProcedure?.WordFileLink}} -->
                {{"נוהל: " + tool.IsoProcedure?.MCode }}
            </td>
            <td>
                {{tool.IsoProcedure?.Description}}
            </td>
            <td>
                {{tool.ToolTopLevelDefinitionName}}
            </td>
            <td>
                {{tool.SubTechnology?.SubTechnologyName}}
            </td>
            <td>
                {{tool.SubTechnology?.Technology?.TechnologyName}}
            </td>

            <td>
                <mat-icon [matTooltip]="resolutionToolTipStr(tool)">
                    list
                </mat-icon>
            </td>
            
            <td>
                <button mat-mini-fab color="danger" (click)="changeToolId(tool.ToolTopLevelDefinitionID)">
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
                <!-- <button mat-mini-fab color="warn" (click)="deleteToolTopLevelDefinition(tool.ToolTopLevelDefinitionID)">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button> -->
            </td>
        </tr>
    </table>
    <app-tool-top-level-definition-and-iso-procedure-form [toolTopId]="toolTopId" [toolId]="toolId"></app-tool-top-level-definition-and-iso-procedure-form>
</div>