<div class="width50percent">
    <table dir="rtl">
        <tr>
            <th> M-Code</th>
            <th> טכנולוגיה </th>
            <th>עריכה </th>
        </tr>
        <tr *ngFor="let technology of technologies">
            <!-- <td>{{technology.TechnologyName}}</td> -->
            <td>
                <a class="navToChildren" mat-button [routerLink]="'/tool_definitions/sub_technology/' + technology.TechnologyID " >
                    {{technology.MCode}}
                </a>
            </td>
            <td>{{technology.TechnologyName}}</td>
            <td>
                <button mat-mini-fab color="danger" (click)="changeToolId(technology.TechnologyID)">
                    <mat-icon>  
                        edit
                    </mat-icon>
                </button>
                
                <!-- <button mat-mini-fab color="warn" (click)="deleteTechnology(technology.TechnologyID)">
                    <mat-icon>  
                        delete
                    </mat-icon>
                </button> -->
            </td>
        </tr>
    </table>
    
    <app-technology-form [toolId]="toolId"></app-technology-form>
    
</div>