<div class="width50percent">

    <table>
        <thead>
            <tr>
                <th>גודל כלי </th>
                <th> Mcode </th>
                <th> עריכה </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let testTemplate of testTemplates">
                <td>{{testTemplate.ToolLowLevelDefinition?.ValueMin + " - " + testTemplate.ToolLowLevelDefinition?.ValueMax }}</td>
                <td>
                    {{
                        testTemplate.ToolLowLevelDefinition?.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.SubTechnology?.Technology?.MCode + '.' +
                        testTemplate.ToolLowLevelDefinition?.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.IsoProcedure?.MCode + '.' +
                        testTemplate.ToolLowLevelDefinition?.ToolMeasurementLevelDefinition?.MCode + '.' +
                        testTemplate.ToolLowLevelDefinition?.MCode
                    }}
                </td>
                <td>
                    <button 
                        (click)="changeTestTemplate(testTemplate)"
                        mat-mini-fab
                        color="danger"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
    
        </tbody>
    </table>

    <app-test-template-form [toolLowLevelId]="toolLowLevelId" [testTemplateInput]="testTemplate"></app-test-template-form>
</div>