<div class="width50percent">
    <table>
        <tr>
            <th>
                נוהל
            </th>
            <th>
                גודל כלי 
            </th>
            <th>
                תחום מדידה
            </th>
            <th>
                שם כלי
            </th>
            <th>
                תת טכנולוגיה
            </th>
            <th>
                טכנולוגיה
            </th>
            <th>
                MCode
            </th>
            <th>
                עריכה
            </th>
        </tr>
        <tr *ngFor="let tool of toolLowLevelDefinitions">
            <td>
                {{tool.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.IsoProcedure?.MCode}}
            </td>
            <td>
                {{(tool.ValueMin != tool.ValueMax && tool.ValueMin + ' - ') + tool.ValueMax + ' ' + tool.ToolMeasurementLevelDefinition?.ValueUnit?.Symbol}}
            </td>
            <td>
                {{
                    (tool.ToolMeasurementLevelDefinition?.ValueMax != tool.ToolMeasurementLevelDefinition?.ValueMin && tool.ToolMeasurementLevelDefinition?.ValueMin + " - ") +
                    tool.ToolMeasurementLevelDefinition?.ValueMax + ' ' + 
                    tool.ToolMeasurementLevelDefinition?.ValueUnit?.Symbol 
                }}
            </td>

            <td>
                {{tool.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.ToolTopLevelDefinitionName}}
            </td>
            <td>
                {{tool.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.SubTechnology?.SubTechnologyName}}
            </td>
            <td>
                {{tool.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.SubTechnology?.Technology?.TechnologyName}}
            </td>
            <td>
                {{
                    tool.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.SubTechnology?.Technology?.MCode + '.' + 
                    tool.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.SubTechnology?.MCode + '.' + 
                    tool.ToolMeasurementLevelDefinition?.ToolFamilyLevelDefinition?.ToolTopLevelDefinition?.IsoProcedure?.MCode + '.' + 
                    tool.ToolMeasurementLevelDefinition?.MCode + '.' +
                    tool.MCode
                }}
            </td>
            <td>
                <button mat-mini-fab color="danger" (click)="changeToolId(tool.ToolLowLevelDefinitionID)">
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
            </td>
        </tr>
    </table>

    <app-tool-low-level-definition-form [toolId]="toolId"></app-tool-low-level-definition-form>
</div>