<!-- nav to technology etc using select -->

<mat-toolbar color="primary">
    <a mat-button routerLink="technology" routerLinkActive="active"> טכנולוגיה </a>
    <a mat-button routerLink="sub_technology" routerLinkActive="active"> תת טכנולוגיה </a>
    <a mat-button routerLink="tool_top_level_definition" routerLinkActive="active"> כלים (הגדרת נוהל ושם/סוג כלי) </a>
    <a mat-button routerLink="measurement_units" routerLinkActive="active"> יחידות מידה </a>
    <a mat-button routerLink="tool_measurement_level_definition" routerLinkActive="active"> תחום מדידה </a>
    <a mat-button routerLink="tool_low_level_definition" routerLinkActive="active"> גודל כלי </a>
</mat-toolbar>


<router-outlet></router-outlet>