<mat-toolbar color="primary">
  <a 
    mat-mini-fab 
    routerLink="/home" 
    routerLinkActive="active"
    color="primary"
  >
    <mat-icon>home</mat-icon>
  </a>
  <a class="tool_definitions" routerLinkActive="active" mat-button routerLink="/tool_definitions"> הגדרת סוגי כלים </a>
  <a class="test_definition" routerLinkActive="active" mat-button routerLink="/test_definition"> הגדרת בדיקות </a>
</mat-toolbar>

<router-outlet></router-outlet>

<lib-toastify-toast-container 
[position]="'bottom-right'"
[transition]="'flip'"
[iconLibrary]="'material'"
>
</lib-toastify-toast-container>