<div class="width50percent">
    <table>
        <tr>
            <th> נוהל </th>
            <th> תיאור מילולי לתעודה</th>
            <th> קובץ וורד </th>
            <th> תיאור </th>
            <th> פעולות </th>
        </tr>
        <tr *ngFor="let procedure of isoProcedures">
            <td> {{procedure.MCode}}</td>
            <td> {{procedure.CertificateText}} </td>
            <td> {{"נוהל: " + procedure.MCode}}</td>
            <td> {{procedure.Description}}</td>
            <td>
                <button mat-mini-fab color="danger" (click)="changeToolId(procedure.IsoProcedureID)">
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="deleteIsoProcedure(procedure.IsoProcedureID)">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
            </td>
        </tr>
    </table>

    <app-iso-procedure-form [toolId]="toolId"></app-iso-procedure-form>
</div>